qmux_socket(audioserver)
binder_call(audioserver, rild)

#============= audioserver ==============
allow audioserver debugfs_asoc:dir { open read search };
allow audioserver self:socket create_socket_perms;
allow audioserver hal_power_hwservice:hwservice_manager find;
